<html>
	<head>
		<title>留言本</title>
		<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>
		<style type="text/css">
			h1 {
				line-height: 100px;
			}
			form {
				overflow: hidden;
				clear: both;
			}
			#AllLiuyan {
				clear: both;
			}
			
			.liuyankuai {
				padding: 10px 0;
				border-bottom: 1px solid #eee;
			}
		</style>
	</head>
	<body>
		
		<div class="container">
			
			<h1>留言本</h1>
			
			<div class="row">
			
				<form class="form-horizontal col-lg-8">
					
				  <div class="form-group">
				    <label for="xingming">姓名</label>
				    <input type="text" class="form-control" id="xingming" name="xingming" placeholder="请输入姓名">
				  </div>
				  
				  <div class="form-group">
				    <label for="liuyan">留言</label>
				    <textarea name="liuyan" id="liuyan" class="form-control" rows="" cols="3" placeholder="请输入留言"></textarea>
				  </div>
				  
				  <button type="button" id="tijiao" class="btn btn-success">提交</button>
				  
				</form>
				
			</div>
			
			
			<nav>
			  <ul class="pagination">
			    <li>
			      <a href="#" aria-label="Previous">
			        <span aria-hidden="true">&laquo;</span>
			      </a>
			    </li>
			    
		    	<!--<li class="yemaanniu active"><a href="#">1</a></li>
		    	<li class="yemaanniu"><a href="#">2</a></li>
		    	<li class="yemaanniu"><a href="#">3</a></li>
		    	<li class="yemaanniu"><a href="#">4</a></li>
		    	<li class="yemaanniu"><a href="#">5</a></li>-->
		    	
			    <li>
			      <a href="#" aria-label="Next">
			        <span aria-hidden="true">&raquo;</span>
			      </a>
			    </li>
			  </ul>
			</nav>
			
			<div id="AllLiuyan">
				
			</div>
			
		</div>	
		
		
		<script type="text/template" id="moban">
			
			<div class="list-group liuyankuai">
				<p class="list-group-item-heading"><strong>姓名: </strong>{{xingming}}</p>
				<p class="list-group-item-text"><strong>内容: </strong>{{liuyan}}</p>
				<p><strong>时间: </strong>{{shijian}}</p>
			</div>
			
		</script>
		
		<script src="/lib/jquery.js" type="text/javascript" charset="utf-8"></script>
		
		<!--<script src="/lib/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>-->
		
		<script src="/lib/underscore.js" type="text/javascript" charset="utf-8"></script>
		
		<script type="text/javascript">
			
			// 分页
			// 所有的页码按钮添加监听
			$('.yemaanniu').on('click', function () {
				
				var page = parseInt($(this).text());
				
				// 重新发起请求
				getDate(page);
				
				$(this).addClass('active').siblings().removeClass('active');
				
			});
			
			// load 载入请求 0 页数据
			getDate(1);
			
			// ajax data
			function getDate ( page ) {
				
				// 真实page是从0 开始算起
				
				$.get('/du?page=' + (page - 1), function ( res ) {
					
					// get 模板
					var compiled = _.template($('#moban').html());
					
					// 清空原来的节点
					$('#AllLiuyan').html('');
					
					for ( var i=0; i<res.reslut.length; i++ ) {
						
						// 数据绑定
						var html = compiled({liuyan: res.reslut[i].liuyan, xingming: res.reslut[i].xingming, shijian: res.reslut[i].shijian});
						
						// 添加  DOM
						$('#AllLiuyan').append(html);
						
					}
					
				});
				
			}
			
			// 提交数据
			$('#tijiao').on('click', function () {
				
				var xingming = $('#xingming').val();
				
				var liuyan = $('#liuyan').val();
				
				// ajax 提交表单
				$.post('/tijiao', {
					
					'xingming': xingming,
					'liuyan': liuyan
					
				}, function ( reslut ) {
					
					if ( reslut == -1 ) {
						
						alert('shibai');
						
					}
					
					// 提交成功
					$('#chenggone').fadeIn();
					
					// 数据库存储数据，但是当前页面无法显示，是因为需要刷新，才能从ajax 从 路由 /du 中得到新的数据， 所以需要先用一个假盒子凑出来
					var compiled = _.template($('#moban').html());
					
					var html = compiled({liuyan: liuyan, xingming: xingming, shijian: new Date()});
					
					$(html).insertBefore($('#AllLiuyan'));
					
					alert('ok');
					
				});
				
//				window.refresh(); // ie jianrong
				
				// tijiao hou  
//				window.location = '/'; 
				
			});
			
		</script>
		
	</body>
</html>

